<p-dialog
  header="Add Case"
  [modal]="true"
  [style]="{ width: '30rem' }"
  [visible]="visible"
  (onHide)="visibleChange.emit(false)"
>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">

    <!-- CLIENT SELECT -->
    <div>
    <label class="block mb-2 font-semibold">Client</label>

    <p-autocomplete
        formControlName="selectedClient"
        [suggestions]="filteredClients"
        (completeMethod)="searchClients($event)"
        optionLabel="displayLabel"
        [dropdown]="true"
        placeholder="Search client..."
        class="w-full">

        <!-- nicer display -->
        <ng-template let-client pTemplate="item">
        {{ client.firstName }} {{ client.lastName }} ({{ client.email }})
        </ng-template>

    </p-autocomplete>

    @if (form.get('selectedClient')?.invalid && form.get('selectedClient')?.touched) {
        <small class="text-red-500">Client is required</small>
    }
    </div>

    <!-- NOTES -->
    <div>
      <label class="block mb-2 font-semibold">Notes</label>

      <textarea
        pInputTextarea
        rows="4"
        formControlName="notes"
        class="w-full"
        placeholder="Enter case notes...">
      </textarea>

      @if (form.get('notes')?.invalid && form.get('notes')?.touched) {
        <small class="text-red-500">Notes are required</small>
      }
    </div>

    <!-- BUTTONS -->
    <div class="flex justify-end gap-2 mt-2">
      <p-button
        label="Cancel"
        severity="secondary"
        type="button"
        (onClick)="visibleChange.emit(false)">
      </p-button>

      <p-button
        label="Create"
        type="submit"
        [disabled]="form.invalid">
      </p-button>
    </div>

  </form>

</p-dialog>