<div class="mb-4 p-8 flex items-center justify-center">
    <p-card *ngIf="!editButton" [style]="{ width: '30rem', overflow: 'hidden' }">
        <ng-template #header>
            <img *ngIf="user?.role==='COMPLIANCE_OFFICER'" alt="Card" class="w-full h-60 object-contain"
                src="images/complianceofficer.png" />
            <img *ngIf="user?.role==='RELATIONSHIP_MANAGER'" alt="Card" class="w-full h-60 object-contain"
                src="images/relationshipmanager.png" />
            <img *ngIf="user?.role==='ADMINISTRATOR'" alt="Card" class="w-full h-60 object-contain"
                src="images/administrator.png" />
        </ng-template>
        <ng-template #title> {{user?.firstName}} {{user?.lastName}}</ng-template>
        <ng-template #subtitle>{{ roleLabel[user?.role ?? ''] }} </ng-template>
        <p-fieldset legend="Email">
            <p>
                {{user?.email}}
            </p>
        </p-fieldset>
        <p-divider type="solid" />
        <p-fieldset legend="Phone Number">
            <p>
                {{user?.phoneNumber}}
            </p>
        </p-fieldset>
        <p-divider type="solid" />
        <p>

        </p>
        <ng-template #footer>
            <div class="flex gap-4 mt-5">

                <!-- <p-button label="Cancel" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" /> -->
                <p-button label="Edit" class="w-full" styleClass="w-full" (click)="clickedEdit()" />
            </div>

        </ng-template>
    </p-card>
    
    <!-- Edit Card Below -->
    <form form *ngIf="editButton && edituser" #userForm="ngForm">

        <p-card  [style]="{ width: '30rem', overflow: 'hidden' }">

            <ng-template #header>
                <img *ngIf="edituser.role==='COMPLIANCE_OFFICER'" class="w-full h-60 object-contain"
                    src="images/complianceofficer.png" />
                <img *ngIf="edituser.role==='RELATIONSHIP_MANAGER'" class="w-full h-60 object-contain"
                    src="images/relationshipmanager.png" />
                <img *ngIf="edituser.role==='ADMINISTRATOR'" class="w-full h-60 object-contain"
                    src="images/administrator.png" />
            </ng-template>

            <p-fieldset legend="First Name">
                <input pInputText name="firstname" required [(ngModel)]="edituser.firstName" class="w-full max-w-md"
                    autocomplete="off" />
            </p-fieldset>

            <p-fieldset legend="Last Name">
                <input pInputText name="lastname" required [(ngModel)]="edituser.lastName" class="w-full max-w-md"
                    autocomplete="off" />
            </p-fieldset>

            <p-fieldset legend="Email">
                <input pInputText name="email" required [(ngModel)]="edituser.email" class="w-full max-w-md"
                    autocomplete="off" />
            </p-fieldset>

            <p-fieldset legend="Phone Number">
                <p-inputMask name="phonenumber" required [(ngModel)]="edituser.phoneNumber" mask="999-999-9999"
                    styleClass="w-full max-w-md"> </p-inputMask>
            </p-fieldset>
            <div *ngIf="user?.role !== 'ADMINISTRATOR' ">
            <p-fieldset legend="Role">
                <p-select name="role" required [options]="roleoptions" optionLabel="label" optionValue="value"
                    [(ngModel)]="edituser.role" class="w-full max-w-md"> </p-select>
            </p-fieldset>
            </div>
            <ng-template #footer>

                <div class="flex gap-4 mt-2"></div>

                <div class="flex gap-4 mt-5">
                    <p-button label="Cancel" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full"
                        (click)="cancelEdit()"> </p-button>

                    <p-button label="Save" class="w-full" styleClass="w-full" (click)="saveEdit()"
                        [disabled]="userForm.invalid"> </p-button>
                </div>

            </ng-template>

        </p-card>

    </form>

</div>