:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-header {
  width: 100%;
  max-width: 400px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

#google-btn {
  transition: all 0.2s ease;
  cursor: pointer;
}

#google-btn:hover {
  transform: translateY(-1px);
  filter: brightness(0.95);
}