/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import "primeicons/primeicons.css";

/* Trying out adding a background color so that themes are still fairly consistent*/
body {
  margin: 0;
  background-color: #f5f6f8; /* soft off-white */
  color: #111;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: 	#333333;
    color: #f5f5f5;
  }
}